<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= todo.text %>
  </title>
</head>

<body>
  <a href="/">Seznam výpis</a>

  <hr />

  <div id="detail">
    <%- include('_todo_detail') %>
  </div>

  <script>
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (message) => {
      const json = JSON.parse(message.data)

      if (json.type === "todo_detail") {
        document.getElementById('detail').innerHTML = json.html
        document.title = json.title
      }
      if (json.type === "todo_deleted") {
        window.location.replace("/");
      }
    })
  </script>
</body>

</html>